<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFBankService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFBankService" contract="WCFConnectedBankService.IWCFBankService"
                name="BasicHttpBinding_IWCFBankService" />
        </client>
    </system.serviceModel>
</configuration>